@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<br />
<h3>About Our Company</h3>
<p>
    Welcome to our fictional company, where we provide the best dolls in the market. We have varietes of dolls for kids,
    decorating house, some dolls have playing features like they can dance, speak some songs.
</p>
<br />

<h2>Corporate Headquarters</h2>
<p>Our headquarters are located at:</p>
<address>
    123 Main Street<br />
    Your City, State<br />
    Zip Code: 12345
</address>
<br />

<h2>Our Team</h2>
<p>We are a passionate team of individuals dedicated to bringing you the finest dolls.</p>
<ul>
    <li>John Doe - CEO</li>
    <li>Jane Smith - Head of Product Development</li>
    <!-- Add more staff members -->
</ul>
